html{
    background-color: skyblue;
}

body{
    background-color: powderblue;
}

h1{
    color: rgba(0, 0, 255, 0.79);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}